*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0 !important;
}
html, body{
    height: 100%;
    width: 100%;
}

#first{
    /* background-color: black; */
    color: black;
}
#second{
    background-color: #e5e5e5;
    color: black;
}
.card{
    box-shadow: 5px 5px 5px 0px rgb(0 0 0);
}
.card-title{
    background-color: #c4c4c4;
}
.card-btn{
    background: #c4c4c4 !important;
}
#third{
    background-color: #fff;
}
#fourth{
    background-color: #e5e5e5;
}
#fourth i{
    font-size: 3rem;
    cursor: pointer;
}
.section-heading{
    font-size: 3rem;
    font-weight: bolder;
}